
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: arial;
  background-image: url(https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);
  background-repeat: no repeat;
  background-size: cover;
}
.main {
  margin: 2%;
}

.card {
  width: 500px;
  display: inline-block;
  box-shadow: 2px 2px 20px black;
  border-radius: 30px;
  margin: 2%;
}

.image img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  height: 200px;
}

.title {
  text-align: center;
  height: 1cm;

  padding: 10px;
}

h1 {
  font-size: 30px;
}

.des {
  padding: 30px;
  text-align: center;

  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
button {
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
button{
  background-color: red;
  border-color: royalblue;
  border-radius: 25%;
}
